@font-face {
	font-family: 'webflowicons';
	src:url('../fonts/webflowicons.eot');
	src:url('../fonts/webflowicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/webflowicons.ttf') format('truetype'),
		url('../fonts/webflowicons.woff') format('woff'),
		url('../fonts/webflowicons.svg#webflowicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="ico-"] {
	font-family: 'webflowicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ico-glass:before {
	content: "\e600";
}
.ico-music:before {
	content: "\e601";
}
.ico-search:before {
	content: "\e602";
}
.ico-envelope:before {
	content: "\e603";
}
.ico-heart:before {
	content: "\e604";
}
.ico-star:before {
	content: "\e605";
}
.ico-star-empty:before {
	content: "\e606";
}
.ico-user:before {
	content: "\e607";
}
.ico-film:before {
	content: "\e608";
}
.ico-th-large:before {
	content: "\e609";
}
.ico-th:before {
	content: "\e60a";
}
.ico-th-list:before {
	content: "\e60b";
}
.ico-ok:before {
	content: "\e60c";
}
.ico-remove:before {
	content: "\e60d";
}
.ico-zoom-in:before {
	content: "\e60e";
}
.ico-zoom-out:before {
	content: "\e60f";
}
.ico-off:before {
	content: "\e610";
}
.ico-signal:before {
	content: "\e611";
}
.ico-cog:before {
	content: "\e612";
}
.ico-trash:before {
	content: "\e613";
}
.ico-home:before {
	content: "\e614";
}
.ico-file:before {
	content: "\e615";
}
.ico-time:before {
	content: "\e616";
}
.ico-road:before {
	content: "\e617";
}
.ico-download-alt:before {
	content: "\e618";
}
.ico-download:before {
	content: "\e619";
}
.ico-upload:before {
	content: "\e61a";
}
.ico-inbox:before {
	content: "\e61b";
}
.ico-play-circle:before {
	content: "\e61c";
}
.ico-repeat:before {
	content: "\e61d";
}
.ico-refresh:before {
	content: "\e61e";
}
.ico-list-alt:before {
	content: "\e61f";
}
.ico-lock:before {
	content: "\e620";
}
.ico-flag:before {
	content: "\e621";
}
.ico-headphones:before {
	content: "\e622";
}
.ico-volume-off:before {
	content: "\e623";
}
.ico-volume-down:before {
	content: "\e624";
}
.ico-volume-up:before {
	content: "\e625";
}
.ico-qrcode:before {
	content: "\e626";
}
.ico-barcode:before {
	content: "\e627";
}
.ico-tag:before {
	content: "\e628";
}
.ico-tags:before {
	content: "\e629";
}
.ico-book:before {
	content: "\e62a";
}
.ico-bookmark:before {
	content: "\e62b";
}
.ico-print:before {
	content: "\e62c";
}
.ico-camera:before {
	content: "\e62d";
}
.ico-font:before {
	content: "\e62e";
}
.ico-bold:before {
	content: "\e62f";
}
.ico-italic:before {
	content: "\e630";
}
.ico-text-height:before {
	content: "\e631";
}
.ico-text-width:before {
	content: "\e632";
}
.ico-align-left:before {
	content: "\e633";
}
.ico-align-center:before {
	content: "\e634";
}
.ico-align-right:before {
	content: "\e635";
}
.ico-align-justify:before {
	content: "\e636";
}
.ico-list:before {
	content: "\e637";
}
.ico-indent-left:before {
	content: "\e638";
}
.ico-indent-right:before {
	content: "\e639";
}
.ico-facetime-video:before {
	content: "\e63a";
}
.ico-picture:before {
	content: "\e63b";
}
.ico-pencil:before {
	content: "\e63c";
}
.ico-map-marker:before {
	content: "\e63d";
}
.ico-adjust:before {
	content: "\e63e";
}
.ico-tint:before {
	content: "\e63f";
}
.ico-edit:before {
	content: "\e640";
}
.ico-share:before {
	content: "\e641";
}
.ico-check:before {
	content: "\e642";
}
.ico-move:before {
	content: "\e643";
}
.ico-step-backward:before {
	content: "\e644";
}
.ico-fast-backward:before {
	content: "\e645";
}
.ico-backward:before {
	content: "\e646";
}
.ico-play:before {
	content: "\e647";
}
.ico-pause:before {
	content: "\e648";
}
.ico-stop:before {
	content: "\e649";
}
.ico-forward:before {
	content: "\e64a";
}
.ico-fast-forward:before {
	content: "\e64b";
}
.ico-step-forward:before {
	content: "\e64c";
}
.ico-eject:before {
	content: "\e64d";
}
.ico-chevron-left:before {
	content: "\e64e";
}
.ico-chevron-right:before {
	content: "\e64f";
}
.ico-plus-sign:before {
	content: "\e650";
}
.ico-minus-sign:before {
	content: "\e651";
}
.ico-remove-sign:before {
	content: "\e652";
}
.ico-ok-sign:before {
	content: "\e653";
}
.ico-question-sign:before {
	content: "\e654";
}
.ico-info-sign:before {
	content: "\e655";
}
.ico-screenshot:before {
	content: "\e656";
}
.ico-remove-circle:before {
	content: "\e657";
}
.ico-ok-circle:before {
	content: "\e658";
}
.ico-ban-circle:before {
	content: "\e659";
}
.ico-arrow-left:before {
	content: "\e65a";
}
.ico-arrow-right:before {
	content: "\e65b";
}
.ico-arrow-up:before {
	content: "\e65c";
}
.ico-arrow-down:before {
	content: "\e65d";
}
.ico-share-alt:before {
	content: "\e65e";
}
.ico-resize-full:before {
	content: "\e65f";
}
.ico-resize-small:before {
	content: "\e660";
}
.ico-plus:before {
	content: "\e661";
}
.ico-minus:before {
	content: "\e662";
}
.ico-asterisk:before {
	content: "\e663";
}
.ico-exclamation-sign:before {
	content: "\e664";
}
.ico-gift:before {
	content: "\e665";
}
.ico-leaf:before {
	content: "\e666";
}
.ico-fire:before {
	content: "\e667";
}
.ico-eye-open:before {
	content: "\e668";
}
.ico-eye-close:before {
	content: "\e669";
}
.ico-warning-sign:before {
	content: "\e66a";
}
.ico-plane:before {
	content: "\e66b";
}
.ico-calendar:before {
	content: "\e66c";
}
.ico-random:before {
	content: "\e66d";
}
.ico-comment:before {
	content: "\e66e";
}
.ico-magnet:before {
	content: "\e66f";
}
.ico-chevron-up:before {
	content: "\e670";
}
.ico-chevron-down:before {
	content: "\e671";
}
.ico-retweet:before {
	content: "\e672";
}
.ico-shopping-cart:before {
	content: "\e673";
}
.ico-folder-close:before {
	content: "\e674";
}
.ico-folder-open:before {
	content: "\e675";
}
.ico-resize-vertical:before {
	content: "\e676";
}
.ico-resize-horizontal:before {
	content: "\e677";
}
.ico-bar-chart:before {
	content: "\e678";
}
.ico-twitter-sign:before {
	content: "\e679";
}
.ico-facebook-sign:before {
	content: "\e67a";
}
.ico-camera-retro:before {
	content: "\e67b";
}
.ico-key:before {
	content: "\e67c";
}
.ico-cogs:before {
	content: "\e67d";
}
.ico-comments:before {
	content: "\e67e";
}
.ico-thumbs-up:before {
	content: "\e67f";
}
.ico-thumbs-down:before {
	content: "\e680";
}
.ico-star-half:before {
	content: "\e681";
}
.ico-heart-empty:before {
	content: "\e682";
}
.ico-signout:before {
	content: "\e683";
}
.ico-linkedin-sign:before {
	content: "\e684";
}
.ico-pushpin:before {
	content: "\e685";
}
.ico-external-link:before {
	content: "\e686";
}
.ico-signin:before {
	content: "\e687";
}
.ico-trophy:before {
	content: "\e688";
}
.ico-github-sign:before {
	content: "\e689";
}
.ico-upload-alt:before {
	content: "\e68a";
}
.ico-lemon:before {
	content: "\e68b";
}
.ico-phone:before {
	content: "\e68c";
}
.ico-check-empty:before {
	content: "\e68d";
}
.ico-bookmark-empty:before {
	content: "\e68e";
}
.ico-phone-sign:before {
	content: "\e68f";
}
.ico-twitter:before {
	content: "\e690";
}
.ico-facebook:before {
	content: "\e691";
}
.ico-github:before {
	content: "\e692";
}
.ico-unlock:before {
	content: "\e693";
}
.ico-credit:before {
	content: "\e694";
}
.ico-rss:before {
	content: "\e695";
}
.ico-hdd:before {
	content: "\e696";
}
.ico-bullhorn:before {
	content: "\e697";
}
.ico-bell:before {
	content: "\e698";
}
.ico-certificate:before {
	content: "\e699";
}
.ico-hand-right:before {
	content: "\e69a";
}
.ico-hand-left:before {
	content: "\e69b";
}
.ico-hand-up:before {
	content: "\e69c";
}
.ico-hand-down:before {
	content: "\e69d";
}
.ico-circle-arrow-left:before {
	content: "\e69e";
}
.ico-circle-arrow-right:before {
	content: "\e69f";
}
.ico-circle-arrow-up:before {
	content: "\e6a0";
}
.ico-circle-arrow-down:before {
	content: "\e6a1";
}
.ico-globe:before {
	content: "\e6a2";
}
.ico-wrench:before {
	content: "\e6a3";
}
.ico-tasks:before {
	content: "\e6a4";
}
.ico-filter:before {
	content: "\e6a5";
}
.ico-briefcase:before {
	content: "\e6a6";
}
.ico-fullscreen:before {
	content: "\e6a7";
}
.ico-group:before {
	content: "\e6a8";
}
.ico-link:before {
	content: "\e6a9";
}
.ico-cloud:before {
	content: "\e6aa";
}
.ico-beaker:before {
	content: "\e6ab";
}
.ico-cut:before {
	content: "\e6ac";
}
.ico-copy:before {
	content: "\e6ad";
}
.ico-paper-clip:before {
	content: "\e6ae";
}
.ico-save:before {
	content: "\e6af";
}
.ico-sign-blank:before {
	content: "\e6b0";
}
.ico-reorder:before {
	content: "\e6b1";
}
.ico-list-ul:before {
	content: "\e6b2";
}
.ico-list-ol:before {
	content: "\e6b3";
}
.ico-strikethrough:before {
	content: "\e6b4";
}
.ico-underline:before {
	content: "\e6b5";
}
.ico-table:before {
	content: "\e6b6";
}
.ico-magic:before {
	content: "\e6b7";
}
.ico-truck:before {
	content: "\e6b8";
}
.ico-pinterest:before {
	content: "\e6b9";
}
.ico-pinterest-sign:before {
	content: "\e6ba";
}
.ico-google-plus-sign:before {
	content: "\e6bb";
}
.ico-google-plus:before {
	content: "\e6bc";
}
.ico-money:before {
	content: "\e6bd";
}
.ico-caret-down:before {
	content: "\e6be";
}
.ico-caret-up:before {
	content: "\e6bf";
}
.ico-caret-left:before {
	content: "\e6c0";
}
.ico-caret-right:before {
	content: "\e6c1";
}
.ico-columns:before {
	content: "\e6c2";
}
.ico-sort:before {
	content: "\e6c3";
}
.ico-sort-down:before {
	content: "\e6c4";
}
.ico-sort-up:before {
	content: "\e6c5";
}
.ico-envelope-alt:before {
	content: "\e6c6";
}
.ico-linkedin:before {
	content: "\e6c7";
}
.ico-undo:before {
	content: "\e6c8";
}
.ico-legal:before {
	content: "\e6c9";
}
.ico-dashboard:before {
	content: "\e6ca";
}
.ico-comment-alt:before {
	content: "\e6cb";
}
.ico-comments-alt:before {
	content: "\e6cc";
}
.ico-bolt:before {
	content: "\e6cd";
}
.ico-sitemap:before {
	content: "\e6ce";
}
.ico-umbrella:before {
	content: "\e6cf";
}
.ico-paste:before {
	content: "\e6d0";
}
.ico-lightbulb:before {
	content: "\e6d1";
}
.ico-exchange:before {
	content: "\e6d2";
}
.ico-cloud-download:before {
	content: "\e6d3";
}
.ico-cloud-upload:before {
	content: "\e6d4";
}
.ico-user-md:before {
	content: "\e6d5";
}
.ico-stethoscope:before {
	content: "\e6d6";
}
.ico-suitcase:before {
	content: "\e6d7";
}
.ico-bell-alt:before {
	content: "\e6d8";
}
.ico-coffee:before {
	content: "\e6d9";
}
.ico-food:before {
	content: "\e6da";
}
.ico-file-alt:before {
	content: "\e6db";
}
.ico-building:before {
	content: "\e6dc";
}
.ico-hospital:before {
	content: "\e6dd";
}
.ico-ambulance:before {
	content: "\e6de";
}
.ico-medkit:before {
	content: "\e6df";
}
.ico-fighter-jet:before {
	content: "\e6e0";
}
.ico-beer:before {
	content: "\e6e1";
}
.ico-h-sign:before {
	content: "\e6e2";
}
.ico-plus-sign2:before {
	content: "\e6e3";
}
.ico-double-angle-left:before {
	content: "\e6e4";
}
.ico-double-angle-right:before {
	content: "\e6e5";
}
.ico-double-angle-up:before {
	content: "\e6e6";
}
.ico-double-angle-down:before {
	content: "\e6e7";
}
.ico-angle-left:before {
	content: "\e6e8";
}
.ico-angle-right:before {
	content: "\e6e9";
}
.ico-angle-up:before {
	content: "\e6ea";
}
.ico-angle-down:before {
	content: "\e6eb";
}
.ico-desktop:before {
	content: "\e6ec";
}
.ico-laptop:before {
	content: "\e6ed";
}
.ico-tablet:before {
	content: "\e6ee";
}
.ico-mobile:before {
	content: "\e6ef";
}
.ico-circle-blank:before {
	content: "\e6f0";
}
.ico-quote-left:before {
	content: "\e6f1";
}
.ico-quote-right:before {
	content: "\e6f2";
}
.ico-spinner:before {
	content: "\e6f3";
}
.ico-circle:before {
	content: "\e6f4";
}
.ico-reply:before {
	content: "\e6f5";
}
.ico-github-alt:before {
	content: "\e6f6";
}
.ico-folder-close-alt:before {
	content: "\e6f7";
}
.ico-folder-open-alt:before {
	content: "\e6f8";
}
.ico-expand-alt:before {
	content: "\e6f9";
}
.ico-collapse-alt:before {
	content: "\e6fa";
}
.ico-smile:before {
	content: "\e6fb";
}
.ico-frown:before {
	content: "\e6fc";
}
.ico-meh:before {
	content: "\e6fd";
}
.ico-gamepad:before {
	content: "\e6fe";
}
.ico-keyboard:before {
	content: "\e6ff";
}
.ico-flag-alt:before {
	content: "\e700";
}
.ico-flag-checkered:before {
	content: "\e701";
}
.ico-terminal:before {
	content: "\e702";
}
.ico-code:before {
	content: "\e703";
}
.ico-reply-all:before {
	content: "\e704";
}
.ico-star-half-full:before {
	content: "\e705";
}
.ico-location-arrow:before {
	content: "\e706";
}
.ico-crop:before {
	content: "\e707";
}
.ico-code-fork:before {
	content: "\e708";
}
.ico-unlink:before {
	content: "\e709";
}
.ico-question:before {
	content: "\e70a";
}
.ico-info:before {
	content: "\e70b";
}
.ico-exclamation:before {
	content: "\e70c";
}
.ico-superscript:before {
	content: "\e70d";
}
.ico-subscript:before {
	content: "\e70e";
}
.ico-eraser:before {
	content: "\e70f";
}
.ico-puzzle:before {
	content: "\e710";
}
.ico-microphone:before {
	content: "\e711";
}
.ico-microphone-off:before {
	content: "\e712";
}
.ico-shield:before {
	content: "\e713";
}
.ico-calendar-empty:before {
	content: "\e714";
}
.ico-fire-extinguisher:before {
	content: "\e715";
}
.ico-rocket:before {
	content: "\e716";
}
.ico-maxcdn:before {
	content: "\e717";
}
.ico-chevron-sign-left:before {
	content: "\e718";
}
.ico-chevron-sign-right:before {
	content: "\e719";
}
.ico-chevron-sign-up:before {
	content: "\e71a";
}
.ico-chevron-sign-down:before {
	content: "\e71b";
}
.ico-html5:before {
	content: "\e71c";
}
.ico-css3:before {
	content: "\e71d";
}
.ico-anchor:before {
	content: "\e71e";
}
.ico-unlock-alt:before {
	content: "\e71f";
}
.ico-bullseye:before {
	content: "\e720";
}
.ico-ellipsis-horizontal:before {
	content: "\e721";
}
.ico-ellipsis-vertical:before {
	content: "\e722";
}
.ico-rss-sign:before {
	content: "\e723";
}
.ico-play-sign:before {
	content: "\e724";
}
.ico-ticket:before {
	content: "\e725";
}
.ico-minus-sign-alt:before {
	content: "\e726";
}
.ico-check-minus:before {
	content: "\e727";
}
.ico-level-up:before {
	content: "\e728";
}
.ico-level-down:before {
	content: "\e729";
}
.ico-check-sign:before {
	content: "\e72a";
}
.ico-edit-sign:before {
	content: "\e72b";
}
.ico-external-link-sign:before {
	content: "\e72c";
}
.ico-share-sign:before {
	content: "\e72d";
}
.ico-compass:before {
	content: "\e72e";
}
.ico-collapse:before {
	content: "\e72f";
}
.ico-collapse-top:before {
	content: "\e730";
}
.ico-expand:before {
	content: "\e731";
}
.ico-euro:before {
	content: "\e732";
}
.ico-gbp:before {
	content: "\e733";
}
.ico-dollar:before {
	content: "\e734";
}
.ico-rupee:before {
	content: "\e735";
}
.ico-yen:before {
	content: "\e736";
}
.ico-renminbi:before {
	content: "\e737";
}
.ico-won:before {
	content: "\e738";
}
.ico-bitcoin:before {
	content: "\e739";
}
.ico-file2:before {
	content: "\e73a";
}
.ico-file-text:before {
	content: "\e73b";
}
.ico-sort-by-alphabet:before {
	content: "\e73c";
}
.ico-sort-by-alphabet-alt:before {
	content: "\e73d";
}
.ico-sort-by-attributes:before {
	content: "\e73e";
}
.ico-sort-by-attributes-alt:before {
	content: "\e73f";
}
.ico-sort-by-order:before {
	content: "\e740";
}
.ico-sort-by-order-alt:before {
	content: "\e741";
}
.ico-thumbs-up2:before {
	content: "\e742";
}
.ico-thumbs-down2:before {
	content: "\e743";
}
.ico-youtube-sign:before {
	content: "\e744";
}
.ico-youtube:before {
	content: "\e745";
}
.ico-xing:before {
	content: "\e746";
}
.ico-xing-sign:before {
	content: "\e747";
}
.ico-youtube-play:before {
	content: "\e748";
}
.ico-dropbox:before {
	content: "\e749";
}
.ico-stackexchange:before {
	content: "\e74a";
}
.ico-instagram:before {
	content: "\e74b";
}
.ico-flickr:before {
	content: "\e74c";
}
.ico-adn:before {
	content: "\e74d";
}
.ico-bitbucket:before {
	content: "\e74e";
}
.ico-bitbucket-sign:before {
	content: "\e74f";
}
.ico-tumblr:before {
	content: "\e750";
}
.ico-tumblr-sign:before {
	content: "\e751";
}
.ico-long-arrow-down:before {
	content: "\e752";
}
.ico-long-arrow-up:before {
	content: "\e753";
}
.ico-long-arrow-left:before {
	content: "\e754";
}
.ico-long-arrow-right:before {
	content: "\e755";
}
.ico-apple:before {
	content: "\e756";
}
.ico-windows:before {
	content: "\e757";
}
.ico-android:before {
	content: "\e758";
}
.ico-linux:before {
	content: "\e759";
}
.ico-dribbble:before {
	content: "\e75a";
}
.ico-skype:before {
	content: "\e75b";
}
.ico-foursquare:before {
	content: "\e75c";
}
.ico-trello:before {
	content: "\e75d";
}
.ico-female:before {
	content: "\e75e";
}
.ico-male:before {
	content: "\e75f";
}
.ico-gittip:before {
	content: "\e760";
}
.ico-sun:before {
	content: "\e761";
}
.ico-moon:before {
	content: "\e762";
}
.ico-archive:before {
	content: "\e763";
}
.ico-bug:before {
	content: "\e764";
}
.ico-vk:before {
	content: "\e765";
}
.ico-weibo:before {
	content: "\e766";
}
.ico-renren:before {
	content: "\e767";
}
.ico-warning:before {
	content: "\e768";
}
.ico-cloud2:before {
	content: "\e769";
}
.ico-locked:before {
	content: "\e76a";
}
.ico-inbox2:before {
	content: "\e76b";
}
.ico-comment2:before {
	content: "\e76c";
}
.ico-mic:before {
	content: "\e76d";
}
.ico-envelope2:before {
	content: "\e76e";
}
.ico-briefcase2:before {
	content: "\e76f";
}
.ico-cart:before {
	content: "\e770";
}
.ico-contrast:before {
	content: "\e771";
}
.ico-clock:before {
	content: "\e772";
}
.ico-user2:before {
	content: "\e773";
}
.ico-cog2:before {
	content: "\e774";
}
.ico-music2:before {
	content: "\e775";
}
.ico-twitter2:before {
	content: "\e776";
}
.ico-pencil2:before {
	content: "\e777";
}
.ico-frame:before {
	content: "\e778";
}
.ico-switch:before {
	content: "\e779";
}
.ico-star2:before {
	content: "\e77a";
}
.ico-key2:before {
	content: "\e77b";
}
.ico-chart:before {
	content: "\e77c";
}
.ico-apple2:before {
	content: "\e77d";
}
.ico-file3:before {
	content: "\e77e";
}
.ico-plus2:before {
	content: "\e77f";
}
.ico-minus2:before {
	content: "\e780";
}
.ico-picture2:before {
	content: "\e781";
}
.ico-folder:before {
	content: "\e782";
}
.ico-camera2:before {
	content: "\e783";
}
.ico-search2:before {
	content: "\e784";
}
.ico-dribbble2:before {
	content: "\e785";
}
.ico-forrst:before {
	content: "\e786";
}
.ico-feed:before {
	content: "\e787";
}
.ico-blocked:before {
	content: "\e788";
}
.ico-target:before {
	content: "\e789";
}
.ico-play2:before {
	content: "\e78a";
}
.ico-pause2:before {
	content: "\e78b";
}
.ico-bug2:before {
	content: "\e78c";
}
.ico-console:before {
	content: "\e78d";
}
.ico-film2:before {
	content: "\e78e";
}
.ico-type:before {
	content: "\e78f";
}
.ico-home2:before {
	content: "\e790";
}
.ico-earth:before {
	content: "\e791";
}
.ico-location:before {
	content: "\e792";
}
.ico-info2:before {
	content: "\e793";
}
.ico-eye:before {
	content: "\e794";
}
.ico-heart2:before {
	content: "\e795";
}
.ico-bookmark2:before {
	content: "\e796";
}
.ico-wrench2:before {
	content: "\e797";
}
.ico-calendar2:before {
	content: "\e798";
}
.ico-window:before {
	content: "\e799";
}
.ico-monitor:before {
	content: "\e79a";
}
.ico-mobile2:before {
	content: "\e79b";
}
.ico-droplet:before {
	content: "\e79c";
}
.ico-mouse:before {
	content: "\e79d";
}
.ico-refresh2:before {
	content: "\e79e";
}
.ico-location2:before {
	content: "\e79f";
}
.ico-tag2:before {
	content: "\e7a0";
}
.ico-phone2:before {
	content: "\e7a1";
}
.ico-star3:before {
	content: "\e7a2";
}
.ico-pointer:before {
	content: "\e7a3";
}
.ico-thumbs-up3:before {
	content: "\e7a4";
}
.ico-thumbs-down3:before {
	content: "\e7a5";
}
.ico-headphones2:before {
	content: "\e7a6";
}
.ico-move2:before {
	content: "\e7a7";
}
.ico-checkmark:before {
	content: "\e7a8";
}
.ico-cancel:before {
	content: "\e7a9";
}
.ico-skype2:before {
	content: "\e7aa";
}
.ico-gift2:before {
	content: "\e7ab";
}
.ico-cone:before {
	content: "\e7ac";
}
.ico-alarm:before {
	content: "\e7ad";
}
.ico-coffee2:before {
	content: "\e7ae";
}
.ico-basket:before {
	content: "\e7af";
}
.ico-flag2:before {
	content: "\e7b0";
}
.ico-ipod:before {
	content: "\e7b1";
}
.ico-trashcan:before {
	content: "\e7b2";
}
.ico-bolt2:before {
	content: "\e7b3";
}
.ico-ampersand:before {
	content: "\e7b4";
}
.ico-compass2:before {
	content: "\e7b5";
}
.ico-list2:before {
	content: "\e7b6";
}
.ico-grid:before {
	content: "\e7b7";
}
.ico-volume:before {
	content: "\e7b8";
}
.ico-volume2:before {
	content: "\e7b9";
}
.ico-stats:before {
	content: "\e7ba";
}
.ico-target2:before {
	content: "\e7bb";
}
.ico-forward2:before {
	content: "\e7bc";
}
.ico-paperclip:before {
	content: "\e7bd";
}
.ico-keyboard2:before {
	content: "\e7be";
}
.ico-crop2:before {
	content: "\e7bf";
}
.ico-floppy:before {
	content: "\e7c0";
}
.ico-filter2:before {
	content: "\e7c1";
}
.ico-trophy2:before {
	content: "\e7c2";
}
.ico-diary:before {
	content: "\e7c3";
}
.ico-address-book:before {
	content: "\e7c4";
}
.ico-stop2:before {
	content: "\e7c5";
}
.ico-smiley:before {
	content: "\e7c6";
}
.ico-shit:before {
	content: "\e7c7";
}
.ico-bookmark3:before {
	content: "\e7c8";
}
.ico-camera3:before {
	content: "\e7c9";
}
.ico-lamp:before {
	content: "\e7ca";
}
.ico-disk:before {
	content: "\e7cb";
}
.ico-button:before {
	content: "\e7cc";
}
.ico-database:before {
	content: "\e7cd";
}
.ico-credit-card:before {
	content: "\e7ce";
}
.ico-atom:before {
	content: "\e7cf";
}
.ico-winsows:before {
	content: "\e7d0";
}
.ico-target3:before {
	content: "\e7d1";
}
.ico-battery:before {
	content: "\e7d2";
}
.ico-code2:before {
	content: "\e7d3";
}
.ico-home3:before {
	content: "\e7d4";
}
.ico-home4:before {
	content: "\e7d5";
}
.ico-home5:before {
	content: "\e7d6";
}
.ico-office:before {
	content: "\e7d7";
}
.ico-newspaper:before {
	content: "\e7d8";
}
.ico-pencil3:before {
	content: "\e7d9";
}
.ico-pencil4:before {
	content: "\e7da";
}
.ico-quill:before {
	content: "\e7db";
}
.ico-pen:before {
	content: "\e7dc";
}
.ico-blog:before {
	content: "\e7dd";
}
.ico-droplet2:before {
	content: "\e7de";
}
.ico-paint-format:before {
	content: "\e7df";
}
.ico-image:before {
	content: "\e7e0";
}
.ico-image2:before {
	content: "\e7e1";
}
.ico-images:before {
	content: "\e7e2";
}
.ico-camera4:before {
	content: "\e7e3";
}
.ico-music3:before {
	content: "\e7e4";
}
.ico-headphones3:before {
	content: "\e7e5";
}
.ico-play3:before {
	content: "\e7e6";
}
.ico-film3:before {
	content: "\e7e7";
}
.ico-camera5:before {
	content: "\e7e8";
}
.ico-dice:before {
	content: "\e7e9";
}
.ico-pacman:before {
	content: "\e7ea";
}
.ico-spades:before {
	content: "\e7eb";
}
.ico-clubs:before {
	content: "\e7ec";
}
.ico-diamonds:before {
	content: "\e7ed";
}
.ico-pawn:before {
	content: "\e7ee";
}
.ico-bullhorn2:before {
	content: "\e7ef";
}
.ico-connection:before {
	content: "\e7f0";
}
.ico-podcast:before {
	content: "\e7f1";
}
.ico-feed2:before {
	content: "\e7f2";
}
.ico-book2:before {
	content: "\e7f3";
}
.ico-books:before {
	content: "\e7f4";
}
.ico-library:before {
	content: "\e7f5";
}
.ico-file4:before {
	content: "\e7f6";
}
.ico-profile:before {
	content: "\e7f7";
}
.ico-file5:before {
	content: "\e7f8";
}
.ico-file6:before {
	content: "\e7f9";
}
.ico-file7:before {
	content: "\e7fa";
}
.ico-copy2:before {
	content: "\e7fb";
}
.ico-copy3:before {
	content: "\e7fc";
}
.ico-copy4:before {
	content: "\e7fd";
}
.ico-paste2:before {
	content: "\e7fe";
}
.ico-paste3:before {
	content: "\e7ff";
}
.ico-paste4:before {
	content: "\e800";
}
.ico-stack:before {
	content: "\e801";
}
.ico-folder2:before {
	content: "\e802";
}
.ico-folder-open2:before {
	content: "\e803";
}
.ico-tag3:before {
	content: "\e804";
}
.ico-tags2:before {
	content: "\e805";
}
.ico-barcode2:before {
	content: "\e806";
}
.ico-qrcode2:before {
	content: "\e807";
}
.ico-ticket2:before {
	content: "\e808";
}
.ico-cart2:before {
	content: "\e809";
}
.ico-cart3:before {
	content: "\e80a";
}
.ico-cart4:before {
	content: "\e80b";
}
.ico-coin:before {
	content: "\e80c";
}
.ico-credit2:before {
	content: "\e80d";
}
.ico-calculate:before {
	content: "\e80e";
}
.ico-support:before {
	content: "\e80f";
}
.ico-phone3:before {
	content: "\e810";
}
.ico-phone-hang-up:before {
	content: "\e811";
}
.ico-address-book2:before {
	content: "\e812";
}
.ico-notebook:before {
	content: "\e813";
}
.ico-envelop:before {
	content: "\e814";
}
.ico-pushpin2:before {
	content: "\e815";
}
.ico-location3:before {
	content: "\e816";
}
.ico-location4:before {
	content: "\e817";
}
.ico-compass3:before {
	content: "\e818";
}
.ico-map:before {
	content: "\e819";
}
.ico-map2:before {
	content: "\e81a";
}
.ico-history:before {
	content: "\e81b";
}
.ico-clock2:before {
	content: "\e81c";
}
.ico-clock3:before {
	content: "\e81d";
}
.ico-alarm2:before {
	content: "\e81e";
}
.ico-alarm3:before {
	content: "\e81f";
}
.ico-bell2:before {
	content: "\e820";
}
.ico-stopwatch:before {
	content: "\e821";
}
.ico-calendar3:before {
	content: "\e822";
}
.ico-calendar4:before {
	content: "\e823";
}
.ico-print2:before {
	content: "\e824";
}
.ico-keyboard3:before {
	content: "\e825";
}
.ico-screen:before {
	content: "\e826";
}
.ico-laptop2:before {
	content: "\e827";
}
.ico-mobile3:before {
	content: "\e828";
}
.ico-mobile4:before {
	content: "\e829";
}
.ico-tablet2:before {
	content: "\e82a";
}
.ico-tv:before {
	content: "\e82b";
}
.ico-cabinet:before {
	content: "\e82c";
}
.ico-drawer:before {
	content: "\e82d";
}
.ico-drawer2:before {
	content: "\e82e";
}
.ico-drawer3:before {
	content: "\e82f";
}
.ico-box-add:before {
	content: "\e830";
}
.ico-box-remove:before {
	content: "\e831";
}
.ico-download2:before {
	content: "\e832";
}
.ico-upload2:before {
	content: "\e833";
}
.ico-disk2:before {
	content: "\e834";
}
.ico-storage:before {
	content: "\e835";
}
.ico-undo2:before {
	content: "\e836";
}
.ico-redo:before {
	content: "\e837";
}
.ico-flip:before {
	content: "\e838";
}
.ico-flip2:before {
	content: "\e839";
}
.ico-undo3:before {
	content: "\e83a";
}
.ico-redo2:before {
	content: "\e83b";
}
.ico-forward3:before {
	content: "\e83c";
}
.ico-reply2:before {
	content: "\e83d";
}
.ico-bubble:before {
	content: "\e83e";
}
.ico-bubbles:before {
	content: "\e83f";
}
.ico-bubbles2:before {
	content: "\e840";
}
.ico-bubble2:before {
	content: "\e841";
}
.ico-bubbles3:before {
	content: "\e842";
}
.ico-bubbles4:before {
	content: "\e843";
}
.ico-user3:before {
	content: "\e844";
}
.ico-users:before {
	content: "\e845";
}
.ico-user4:before {
	content: "\e846";
}
.ico-users2:before {
	content: "\e847";
}
.ico-user5:before {
	content: "\e848";
}
.ico-user6:before {
	content: "\e849";
}
.ico-quotes-left:before {
	content: "\e84a";
}
.ico-busy:before {
	content: "\e84b";
}
.ico-spinner2:before {
	content: "\e84c";
}
.ico-spinner3:before {
	content: "\e84d";
}
.ico-spinner4:before {
	content: "\e84e";
}
.ico-spinner5:before {
	content: "\e84f";
}
.ico-spinner6:before {
	content: "\e850";
}
.ico-spinner7:before {
	content: "\e851";
}
.ico-binoculars:before {
	content: "\e852";
}
.ico-search3:before {
	content: "\e853";
}
.ico-zoom-in2:before {
	content: "\e854";
}
.ico-zoom-out2:before {
	content: "\e855";
}
.ico-expand2:before {
	content: "\e856";
}
.ico-contract:before {
	content: "\e857";
}
.ico-expand3:before {
	content: "\e858";
}
.ico-contract2:before {
	content: "\e859";
}
.ico-key3:before {
	content: "\e85a";
}
.ico-key4:before {
	content: "\e85b";
}
.ico-lock2:before {
	content: "\e85c";
}
.ico-lock3:before {
	content: "\e85d";
}
.ico-unlocked:before {
	content: "\e85e";
}
.ico-wrench3:before {
	content: "\e85f";
}
.ico-settings:before {
	content: "\e860";
}
.ico-equalizer:before {
	content: "\e861";
}
.ico-cog3:before {
	content: "\e862";
}
.ico-cogs2:before {
	content: "\e863";
}
.ico-cog4:before {
	content: "\e864";
}
.ico-hammer:before {
	content: "\e865";
}
.ico-wand:before {
	content: "\e866";
}
.ico-aid:before {
	content: "\e867";
}
.ico-bug3:before {
	content: "\e868";
}
.ico-pie:before {
	content: "\e869";
}
.ico-stats2:before {
	content: "\e86a";
}
.ico-bars:before {
	content: "\e86b";
}
.ico-bars2:before {
	content: "\e86c";
}
.ico-gift3:before {
	content: "\e86d";
}
.ico-trophy3:before {
	content: "\e86e";
}
.ico-glass2:before {
	content: "\e86f";
}
.ico-mug:before {
	content: "\e870";
}
.ico-food2:before {
	content: "\e871";
}
.ico-leaf2:before {
	content: "\e872";
}
.ico-rocket2:before {
	content: "\e873";
}
.ico-meter:before {
	content: "\e874";
}
.ico-meter2:before {
	content: "\e875";
}
.ico-dashboard2:before {
	content: "\e876";
}
.ico-hammer2:before {
	content: "\e877";
}
.ico-fire2:before {
	content: "\e878";
}
.ico-lab:before {
	content: "\e879";
}
.ico-magnet2:before {
	content: "\e87a";
}
.ico-remove2:before {
	content: "\e87b";
}
.ico-remove3:before {
	content: "\e87c";
}
.ico-briefcase3:before {
	content: "\e87d";
}
.ico-airplane:before {
	content: "\e87e";
}
.ico-truck2:before {
	content: "\e87f";
}
.ico-road2:before {
	content: "\e880";
}
.ico-accessibility:before {
	content: "\e881";
}
.ico-target4:before {
	content: "\e882";
}
.ico-shield2:before {
	content: "\e883";
}
.ico-lightning:before {
	content: "\e884";
}
.ico-switch2:before {
	content: "\e885";
}
.ico-power-cord:before {
	content: "\e886";
}
.ico-signup:before {
	content: "\e887";
}
.ico-list3:before {
	content: "\e888";
}
.ico-list4:before {
	content: "\e889";
}
.ico-numbered-list:before {
	content: "\e88a";
}
.ico-menu:before {
	content: "\e88b";
}
.ico-menu2:before {
	content: "\e88c";
}
.ico-tree:before {
	content: "\e88d";
}
.ico-cloud3:before {
	content: "\e88e";
}
.ico-cloud-download2:before {
	content: "\e88f";
}
.ico-cloud-upload2:before {
	content: "\e890";
}
.ico-download3:before {
	content: "\e891";
}
.ico-upload3:before {
	content: "\e892";
}
.ico-download4:before {
	content: "\e893";
}
.ico-upload4:before {
	content: "\e894";
}
.ico-globe2:before {
	content: "\e895";
}
.ico-earth2:before {
	content: "\e896";
}
.ico-link2:before {
	content: "\e897";
}
.ico-flag3:before {
	content: "\e898";
}
.ico-attachment:before {
	content: "\e899";
}
.ico-eye2:before {
	content: "\e89a";
}
.ico-eye-blocked:before {
	content: "\e89b";
}
.ico-eye3:before {
	content: "\e89c";
}
.ico-bookmark4:before {
	content: "\e89d";
}
.ico-bookmarks:before {
	content: "\e89e";
}
.ico-brightness-medium:before {
	content: "\e89f";
}
.ico-brightness-contrast:before {
	content: "\e8a0";
}
.ico-contrast2:before {
	content: "\e8a1";
}
.ico-star4:before {
	content: "\e8a2";
}
.ico-star5:before {
	content: "\e8a3";
}
.ico-star6:before {
	content: "\e8a4";
}
.ico-heart3:before {
	content: "\e8a5";
}
.ico-heart4:before {
	content: "\e8a6";
}
.ico-heart-broken:before {
	content: "\e8a7";
}
.ico-thumbs-up4:before {
	content: "\e8a8";
}
.ico-thumbs-up5:before {
	content: "\e8a9";
}
.ico-happy:before {
	content: "\e8aa";
}
.ico-happy2:before {
	content: "\e8ab";
}
.ico-smiley2:before {
	content: "\e8ac";
}
.ico-smiley3:before {
	content: "\e8ad";
}
.ico-tongue:before {
	content: "\e8ae";
}
.ico-tongue2:before {
	content: "\e8af";
}
.ico-sad:before {
	content: "\e8b0";
}
.ico-sad2:before {
	content: "\e8b1";
}
.ico-wink:before {
	content: "\e8b2";
}
.ico-wink2:before {
	content: "\e8b3";
}
.ico-grin:before {
	content: "\e8b4";
}
.ico-grin2:before {
	content: "\e8b5";
}
.ico-cool:before {
	content: "\e8b6";
}
.ico-cool2:before {
	content: "\e8b7";
}
.ico-angry:before {
	content: "\e8b8";
}
.ico-angry2:before {
	content: "\e8b9";
}
.ico-evil:before {
	content: "\e8ba";
}
.ico-evil2:before {
	content: "\e8bb";
}
.ico-shocked:before {
	content: "\e8bc";
}
.ico-shocked2:before {
	content: "\e8bd";
}
.ico-confused:before {
	content: "\e8be";
}
.ico-confused2:before {
	content: "\e8bf";
}
.ico-neutral:before {
	content: "\e8c0";
}
.ico-neutral2:before {
	content: "\e8c1";
}
.ico-wondering:before {
	content: "\e8c2";
}
.ico-wondering2:before {
	content: "\e8c3";
}
.ico-point-up:before {
	content: "\e8c4";
}
.ico-point-right:before {
	content: "\e8c5";
}
.ico-point-down:before {
	content: "\e8c6";
}
.ico-point-left:before {
	content: "\e8c7";
}
.ico-warning2:before {
	content: "\e8c8";
}
.ico-notification:before {
	content: "\e8c9";
}
.ico-question2:before {
	content: "\e8ca";
}
.ico-info3:before {
	content: "\e8cb";
}
.ico-info4:before {
	content: "\e8cc";
}
.ico-blocked2:before {
	content: "\e8cd";
}
.ico-cancel-circle:before {
	content: "\e8ce";
}
.ico-checkmark-circle:before {
	content: "\e8cf";
}
.ico-spam:before {
	content: "\e8d0";
}
.ico-close:before {
	content: "\e8d1";
}
.ico-checkmark2:before {
	content: "\e8d2";
}
.ico-checkmark3:before {
	content: "\e8d3";
}
.ico-spell-check:before {
	content: "\e8d4";
}
.ico-minus3:before {
	content: "\e8d5";
}
.ico-plus3:before {
	content: "\e8d6";
}
.ico-enter:before {
	content: "\e8d7";
}
.ico-exit:before {
	content: "\e8d8";
}
.ico-play4:before {
	content: "\e8d9";
}
.ico-pause3:before {
	content: "\e8da";
}
.ico-stop3:before {
	content: "\e8db";
}
.ico-backward2:before {
	content: "\e8dc";
}
.ico-forward4:before {
	content: "\e8dd";
}
.ico-play5:before {
	content: "\e8de";
}
.ico-pause4:before {
	content: "\e8df";
}
.ico-stop4:before {
	content: "\e8e0";
}
.ico-backward3:before {
	content: "\e8e1";
}
.ico-forward5:before {
	content: "\e8e2";
}
.ico-first:before {
	content: "\e8e3";
}
.ico-last:before {
	content: "\e8e4";
}
.ico-previous:before {
	content: "\e8e5";
}
.ico-next:before {
	content: "\e8e6";
}
.ico-eject2:before {
	content: "\e8e7";
}
.ico-volume-high:before {
	content: "\e8e8";
}
.ico-volume-medium:before {
	content: "\e8e9";
}
.ico-volume-low:before {
	content: "\e8ea";
}
.ico-volume-mute:before {
	content: "\e8eb";
}
.ico-volume-mute2:before {
	content: "\e8ec";
}
.ico-volume-increase:before {
	content: "\e8ed";
}
.ico-volume-decrease:before {
	content: "\e8ee";
}
.ico-loop:before {
	content: "\e8ef";
}
.ico-loop2:before {
	content: "\e8f0";
}
.ico-loop3:before {
	content: "\e8f1";
}
.ico-shuffle:before {
	content: "\e8f2";
}
.ico-arrow-up-left:before {
	content: "\e8f3";
}
.ico-arrow-up2:before {
	content: "\e8f4";
}
.ico-arrow-up-right:before {
	content: "\e8f5";
}
.ico-arrow-right2:before {
	content: "\e8f6";
}
.ico-arrow-down-right:before {
	content: "\e8f7";
}
.ico-arrow-down2:before {
	content: "\e8f8";
}
.ico-arrow-down-left:before {
	content: "\e8f9";
}
.ico-arrow-left2:before {
	content: "\e8fa";
}
.ico-arrow-up-left2:before {
	content: "\e8fb";
}
.ico-arrow-up3:before {
	content: "\e8fc";
}
.ico-arrow-up-right2:before {
	content: "\e8fd";
}
.ico-arrow-right3:before {
	content: "\e8fe";
}
.ico-arrow-down-right2:before {
	content: "\e8ff";
}
.ico-arrow-down3:before {
	content: "\e900";
}
.ico-arrow-down-left2:before {
	content: "\e901";
}
.ico-arrow-left3:before {
	content: "\e902";
}
.ico-arrow-up-left3:before {
	content: "\e903";
}
.ico-arrow-up4:before {
	content: "\e904";
}
.ico-arrow-up-right3:before {
	content: "\e905";
}
.ico-arrow-right4:before {
	content: "\e906";
}
.ico-arrow-down-right3:before {
	content: "\e907";
}
.ico-arrow-down4:before {
	content: "\e908";
}
.ico-arrow-down-left3:before {
	content: "\e909";
}
.ico-arrow-left4:before {
	content: "\e90a";
}
.ico-tab:before {
	content: "\e90b";
}
.ico-checkbox-checked:before {
	content: "\e90c";
}
.ico-checkbox-unchecked:before {
	content: "\e90d";
}
.ico-checkbox-partial:before {
	content: "\e90e";
}
.ico-radio-checked:before {
	content: "\e90f";
}
.ico-radio-unchecked:before {
	content: "\e910";
}
.ico-crop3:before {
	content: "\e911";
}
.ico-scissors:before {
	content: "\e912";
}
.ico-filter3:before {
	content: "\e913";
}
.ico-filter4:before {
	content: "\e914";
}
.ico-font2:before {
	content: "\e915";
}
.ico-text-height2:before {
	content: "\e916";
}
.ico-text-width2:before {
	content: "\e917";
}
.ico-bold2:before {
	content: "\e918";
}
.ico-underline2:before {
	content: "\e919";
}
.ico-italic2:before {
	content: "\e91a";
}
.ico-strikethrough2:before {
	content: "\e91b";
}
.ico-omega:before {
	content: "\e91c";
}
.ico-sigma:before {
	content: "\e91d";
}
.ico-table2:before {
	content: "\e91e";
}
.ico-table3:before {
	content: "\e91f";
}
.ico-insert-template:before {
	content: "\e920";
}
.ico-pilcrow:before {
	content: "\e921";
}
.ico-left-toright:before {
	content: "\e922";
}
.ico-right-toleft:before {
	content: "\e923";
}
.ico-paragraph-left:before {
	content: "\e924";
}
.ico-paragraph-center:before {
	content: "\e925";
}
.ico-paragraph-right:before {
	content: "\e926";
}
.ico-paragraph-justify:before {
	content: "\e927";
}
.ico-paragraph-left2:before {
	content: "\e928";
}
.ico-paragraph-center2:before {
	content: "\e929";
}
.ico-paragraph-right2:before {
	content: "\e92a";
}
.ico-paragraph-justify2:before {
	content: "\e92b";
}
.ico-indent-increase:before {
	content: "\e92c";
}
.ico-indent-decrease:before {
	content: "\e92d";
}
.ico-new-tab:before {
	content: "\e92e";
}
.ico-embed:before {
	content: "\e92f";
}
.ico-code3:before {
	content: "\e930";
}
.ico-console2:before {
	content: "\e931";
}
.ico-share2:before {
	content: "\e932";
}
.ico-mail:before {
	content: "\e933";
}
.ico-mail2:before {
	content: "\e934";
}
.ico-mail3:before {
	content: "\e935";
}
.ico-mail4:before {
	content: "\e936";
}
.ico-google:before {
	content: "\e937";
}
.ico-google-plus2:before {
	content: "\e938";
}
.ico-google-plus3:before {
	content: "\e939";
}
.ico-google-plus4:before {
	content: "\e93a";
}
.ico-google-plus5:before {
	content: "\e93b";
}
.ico-google-drive:before {
	content: "\e93c";
}
.ico-facebook2:before {
	content: "\e93d";
}
.ico-facebook3:before {
	content: "\e93e";
}
.ico-facebook4:before {
	content: "\e93f";
}
.ico-instagram2:before {
	content: "\e940";
}
.ico-twitter3:before {
	content: "\e941";
}
.ico-twitter4:before {
	content: "\e942";
}
.ico-twitter5:before {
	content: "\e943";
}
.ico-feed3:before {
	content: "\e944";
}
.ico-feed4:before {
	content: "\e945";
}
.ico-feed5:before {
	content: "\e946";
}
.ico-youtube2:before {
	content: "\e947";
}
.ico-youtube3:before {
	content: "\e948";
}
.ico-vimeo:before {
	content: "\e949";
}
.ico-vimeo2:before {
	content: "\e94a";
}
.ico-vimeo3:before {
	content: "\e94b";
}
.ico-lanyrd:before {
	content: "\e94c";
}
.ico-flickr2:before {
	content: "\e94d";
}
.ico-flickr3:before {
	content: "\e94e";
}
.ico-flickr4:before {
	content: "\e94f";
}
.ico-flickr5:before {
	content: "\e950";
}
.ico-picassa:before {
	content: "\e951";
}
.ico-picassa2:before {
	content: "\e952";
}
.ico-dribbble3:before {
	content: "\e953";
}
.ico-dribbble4:before {
	content: "\e954";
}
.ico-dribbble5:before {
	content: "\e955";
}
.ico-forrst2:before {
	content: "\e956";
}
.ico-forrst3:before {
	content: "\e957";
}
.ico-deviantart:before {
	content: "\e958";
}
.ico-deviantart2:before {
	content: "\e959";
}
.ico-steam:before {
	content: "\e95a";
}
.ico-steam2:before {
	content: "\e95b";
}
.ico-github2:before {
	content: "\e95c";
}
.ico-github3:before {
	content: "\e95d";
}
.ico-github4:before {
	content: "\e95e";
}
.ico-github5:before {
	content: "\e95f";
}
.ico-github6:before {
	content: "\e960";
}
.ico-wordpress:before {
	content: "\e961";
}
.ico-wordpress2:before {
	content: "\e962";
}
.ico-joomla:before {
	content: "\e963";
}
.ico-blogger:before {
	content: "\e964";
}
.ico-blogger2:before {
	content: "\e965";
}
.ico-tumblr2:before {
	content: "\e966";
}
.ico-tumblr3:before {
	content: "\e967";
}
.ico-yahoo:before {
	content: "\e968";
}
.ico-tux:before {
	content: "\e969";
}
.ico-apple3:before {
	content: "\e96a";
}
.ico-finder:before {
	content: "\e96b";
}
.ico-android2:before {
	content: "\e96c";
}
.ico-windows2:before {
	content: "\e96d";
}
.ico-windows8:before {
	content: "\e96e";
}
.ico-soundcloud:before {
	content: "\e96f";
}
.ico-soundcloud2:before {
	content: "\e970";
}
.ico-skype3:before {
	content: "\e971";
}
.ico-reddit:before {
	content: "\e972";
}
.ico-linkedin2:before {
	content: "\e973";
}
.ico-lastfm:before {
	content: "\e974";
}
.ico-lastfm2:before {
	content: "\e975";
}
.ico-delicious:before {
	content: "\e976";
}
.ico-stumbleupon:before {
	content: "\e977";
}
.ico-stumbleupon2:before {
	content: "\e978";
}
.ico-stackoverflow:before {
	content: "\e979";
}
.ico-pinterest2:before {
	content: "\e97a";
}
.ico-pinterest3:before {
	content: "\e97b";
}
.ico-xing2:before {
	content: "\e97c";
}
.ico-xing3:before {
	content: "\e97d";
}
.ico-flattr:before {
	content: "\e97e";
}
.ico-foursquare2:before {
	content: "\e97f";
}
.ico-foursquare3:before {
	content: "\e980";
}
.ico-paypal:before {
	content: "\e981";
}
.ico-paypal2:before {
	content: "\e982";
}
.ico-paypal3:before {
	content: "\e983";
}
.ico-yelp:before {
	content: "\e984";
}
.ico-libreoffice:before {
	content: "\e985";
}
.ico-file-pdf:before {
	content: "\e986";
}
.ico-file-openoffice:before {
	content: "\e987";
}
.ico-file-word:before {
	content: "\e988";
}
.ico-file-excel:before {
	content: "\e989";
}
.ico-file-zip:before {
	content: "\e98a";
}
.ico-file-powerpoint:before {
	content: "\e98b";
}
.ico-file-xml:before {
	content: "\e98c";
}
.ico-file-css:before {
	content: "\e98d";
}
.ico-html52:before {
	content: "\e98e";
}
.ico-html53:before {
	content: "\e98f";
}
.ico-css32:before {
	content: "\e990";
}
.ico-chrome:before {
	content: "\e991";
}
.ico-firefox:before {
	content: "\e992";
}
.ico-IE:before {
	content: "\e993";
}
.ico-opera:before {
	content: "\e994";
}
.ico-safari:before {
	content: "\e995";
}
.ico-IcoMoon:before {
	content: "\e996";
}
